/*
 * Empty Stylesheet file.
 */

.button{
    -fx-background-color: 
         #748cf1;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "century gothic";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:   #748CF1; 
}